body{
	font-family: 'Montserrat', sans-serif;
}


h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;

}

.h5_dossier{
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 1.4rem;
	font-weight: 400;

}


h4{
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 1.3rem;
	letter-spacing: 1rem;
}

.h4_permiso{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.3rem;
	letter-spacing: 1rem;
	text-align: center;

}

.h4_form{
	font-family: 'Montserrat', sans-serif;


}

.h4_dossier{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.1rem;
	line-height: 1.3rem;
}

.h4_categorias{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.3rem;
	letter-spacing: 0px;
	line-height: 1.6rem;


}

.h4_consulta{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: grey;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: black;
	text-decoration: none;

}

.migadepan{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: black;
	text-decoration: none;

}

h6{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size: 0.8rem;

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	letter-spacing: 0.1rem;
	font-size: 3.1rem;
	color: firebrick;
}

.h2privada{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: 0.3rem;
	color: blue;

}

.h2_categorias{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	letter-spacing: 0.3rem;
	font-size: 2.5rem;

}


h3{
	font-weight: 800;
	font-size: 1.9rem;
	color: #0F4471;
	line-height: 1.9rem;
}

.h3_dossier{
	font-weight: 900;
	font-size: 2.3rem;
	color: #0F4471;
	line-height: 1.9rem;

}

.h3_form{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: #666666FF;
	text-align: center;
	font-size:2rem;

}

h1{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 100;
	font-size: 3.5rem;
}


footer{
	height: 50px;
	background:#3a3d42;
}

.footer_list{
	padding-top: 13px;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;

}

.footer_list li a{
	color:white;
	text-decoration: none;
	margin-right: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 0.7rem;

}


/*.header{
	background: #b3d1ff;
    /* background: url(img/header6.jpg); */
	height: 250px;
/*	padding-top: 40px;
	background-position: center;
}*/

.top_nav a{
	color: white;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 0.7rem;
}

.boton{
	width: 130px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 0.7rem;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 400;
	letter-spacing: 1px;
	/* padding: 5px 30px; */
	text-align: center;
	transition: 0.9;
	background: #004080;
	border: 0px;

}

.boton2{
	width: 140px;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 0.7rem;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 400;
	letter-spacing: 1px;
	/* padding: 5px 30px; */
	text-align: center;
	transition: 0.9;
	background: #e68a00;
	border: 0px;
	margin-left: 10px;

}
.boton3{
	width: 210px;
	margin-bottom: 20px;
	font-size: 0.7rem;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 400;
	letter-spacing: 1px;
	/* padding: 5px 30px; */
	text-align: center;
	transition: 0.9;
	background: firebrick;
	border: 0px;

}

.boton1 .boton3:hover{
	background: black;
}

.boton2:hover{
	background:#004d80;

}



.buttons{
	display: flex;
	justify-content: center;
	align-items: center;
}


p{
	font-family: 'Lora', serif;
	font-size: 0.9rem;
	line-height: 1.3rem;

}

.p_dossier{
	font-family: 'Lora', serif;
	font-size: 1.1rem;
	line-height: 1.6rem;
	text-align: justify;

}

.dossier_titular{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size:1.4rem;

}

.tarjeta{
	background: #f4f5f9;
	border-radius: 0px;
}

img{
	width: 30%;
	float:left;
	margin-right: 30px;

}

.img_dossier{
	width: 30%;
	float:left;
	margin-right: 30px;
	margin-bottom: 10px;
}

.img_categorias{
	width: 50px;
	height: 70px;

}

.dossier{
	width: 47%;
}

.breadcrumb {
	margin-bottom: 0;
}


.form-control{
	width:880px;
	margin: auto;
	font-family: 'IBM Plex Mono', monospace;
}

.text input{
	width: 430px;
	background-color: #f9f2ec;
	color: black;
	/* border: 0px;
	border-bottom: 1px solid grey; */

}

/* 

.table-hover tr{
	font-family: 'IBM Plex Mono', monospace;
	color: #404040;
	font-size: 1rem;
}

.table-hover form th{
	font-family: 'Montserrat', sans-serif;
	color: #404040;
	font-size: 0.9rem;
	font-weight: 800;
}
*/





