body{
	font-family: 'Montserrat', sans-serif;
}


h5{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: grey;
}

h4{
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.4rem;
}

.h4_dossier{
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.1rem;
}

.h4_categoria{
	font-family: 'Merriweather', serif;
	font-weight: 00;
	font-size: 1.4rem;

}

.h4_consulta{
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.4rem;
	color: grey;
}

a{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: black;
	text-decoration: none;

}

.migadepan{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: black;
	text-decoration: none;

}

h6{
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 400;
	font-size: 0.8rem;

}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 0.3rem;
}

h3{
	font-weight: 800;
	font-size: 1.9rem;
	color: #0F4471;
	line-height: 1.9rem;

}

h1{
	font-weight: 200;
	font-size: 2.6rem;
}


footer{
	height: 50px;
	background:#004080;
}

.footer_list{
	padding-top: 13px;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;

}

.footer_list li a{
	color:white;
	text-decoration: none;
	margin-right: 10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 0.7rem;

}


.header{
	background: #b3d1ff;
    /* background: url(img/header6.jpg); */
	height: 250px;
	padding-top: 40px;
	background-position: center;
}

.top_nav a{
	color: white;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 0.7rem;
}

.boton{
	width: 120px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 0.7rem;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 400;
	letter-spacing: 1px;
	/* padding: 5px 30px; */
	text-align: center;
	transition: 0.9;
	background: #3366CC;
	border: 0px;

}

.boton:hover{
	background: black;
}


.main{
	/* height:440px; */
}

.formulario{
	width: 500px;
	height: 400px;
	border: 1px solid grey;
	margin: auto;
	border-radius: 4px;
	padding: 20px;
	background: #f2f2f2;
	padding-left: 25px;
	padding-right: 30px;


}

.formulario h2{
	text-align:center;
	padding-top: 15px;
}

.formulario label{
	text-align: center;
}

p{
	font-family: 'Lora', serif;
	font-size: 0.9rem;
	line-height: 1.3rem;

}

.p_dossier{
	font-family: 'Lora', serif;
	font-size: 1rem;
	line-height: 1.5rem;


}

.tarjeta{
	background: #f4f5f9;
	border-radius: 0px;
}

img{
	width: 30%;
	float:left;
	margin-right: 30px;

}

.img_dossier{
	width: 30%;
	float:left;
	margin-right: 30px;
	margin-bottom: 10px;

}

.dossier{
	width: 47%;
}

.breadcrumb {
	margin-bottom: 0;
}
